asgiref
certifi
crispy-bootstrap5
distlib
Django
django-crispy-forms
django-environ
django-filter
djangorestframework
EasyProcess
entrypoint2
filelock
Markdown
MouseInfo
mss
opencv-contrib-python
Pillow
pipenv
platformdirs
psycopg2
PyGetWindow
PyMsgBox
pyperclip
PyRect
pyscreenshot
PyScreeze
python-decouple
pytweening
pytz
sqlparse
tzdata